root = true

[*]
end_of_line = lf

[*.cs]
indent_style = space
indent_size = 2
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
sharp_new_line_before_catch = false
csharp_new_line_before_finally = false
