<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net461" />
  <package id="Fody" version="3.1.3" targetFramework="net461" developmentDependency="true" />
  <package id="PropertyChanged.Fody" version="2.5.8" targetFramework="net461" developmentDependency="true" />
  <package id="WriteableBitmapEx" version="1.5.1.0" targetFramework="net452" />
  <package id="XSerializer" version="0.4.2" targetFramework="net461" />
</packages>