<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.0" targetFramework="net452" />
  <package id="Fody" version="2.0.9" targetFramework="net452" developmentDependency="true" requireReinstallation="true" />
  <package id="PropertyChanged.Fody" version="1.53.0" targetFramework="net452" developmentDependency="true" />
  <package id="WriteableBitmapEx" version="1.5.1.0" targetFramework="net452" />
  <package id="XSerializer" version="0.3.8" targetFramework="net452" />
</packages>